:root {
    --color-yellow: #FFC600;
    --color-primary: #0b4a73;
    --color-title: #185A7D;
    --color-subtitle: #868686;
    --color-title-form: #01426A;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}